# .gitignore
__pycache__/
*.py[cod]
musicboardextract_gui/utils/__pycache__/
*.pyc
musicboardextract_gui/utils/__pycache__/process_loading.cpython-312.pyc
musicboardextract_gui/utils/__pycache__/process_loading.cpython-312.pyc
